.nav-tab-wrapper {
    margin-bottom: 20px;
}

.scrollbar-width-value,
.scrollbar-border-radius-value {
    font-weight: bold;
}

input.scrollbar-width-range,
input.scrollbar-border-radius-range {
    margin-right: 10px;
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}
input[type="text"].my-color-picker {
    width:100px;
    display: inline-block;
    vertical-align: middle;
}

form{
    padding-top: 20px;
}

/* AJOUT : styles pour SVG icon preview admin */
#thumb-preview {
    border: 1px solid #ccc;
    margin-top: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #f2f2f2;
    overflow: hidden;
}